body{
    background-color: rgb(121, 224, 190);
}

section h1{
    margin: 40px;
    
}
#items{
    margin: 0px
}
ul{
    list-style: none;
    display: flex;
    padding: 20px;
    justify-content: center;
    color: black;
    
}

li{
    padding: 20px;
    margin-left: 30px;
}
li a {
    text-decoration: none;
    color: black;
}

h1{
    text-align: center;
}

#pDestacados{
    background-color: rgb(85, 170, 255);
    height: 200px;
    display: flex;
    padding: 10px;
    
    
}
#pDestacados div{
    padding: 0 30px;
}

#categoria{
    height: 30px;
    margin: 20px;
    
}
#filtro{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#filtrado{
    height: 30px;
}
